.category-card {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-5px);
}

.hover-overlay {
  transition: background-color 0.3s ease;
}

.category-card:hover .hover-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.category-image {
  height: 200px;
  object-fit: cover;
}
.placeholder-glow {
  animation: placeholder-glow 2s ease-in-out infinite;
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.5;
  }
}
